################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/graphFlow/.vs/
/graphFlow/graphFlow/obj
/graphFlow/ExampleApi/obj
/graphFlow/ExampleApi/bin/
/graphFlow/graphFlow/bin/
